*{
    margin: 0;
    padding: 0;
    
}
body{
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
  margin-top: 0;
}

img{
    display: block;
}


.container{
    width: 1158px;
    margin: 0 auto;
}

.header{
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-navigation{
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 0 15px 0 15px;
}

ul{
    list-style-type: none;
}

.logo{
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    color: #4d5ae5;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-align: left;
text-transform: uppercase;
margin-right: 76px
}
span{
    color: #2e2f42;
    text-transform: uppercase;
}
.menu:hover, .menu:focus{
    color: #404bbf;
}
.header-menu-list{
    display: flex;
    gap: 40px;
}
.header-address-list{
    display: flex;
    gap: 40px;
}

.menu{
    text-decoration: none;
    color: #2E2F42;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: left;
padding-top: 24px;
padding-bottom: 24px;
}

address{
    font-style: normal
}

.contacts{
    text-decoration: none;
    color: #434455;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: left;
}
.contacts:hover, .contacts:focus{
    color: #404bbf;
}

.section-one{
    background-color: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}

.title{
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: white;
max-width: 496px;
padding-bottom: 46px;
}

.button{
font-family: "Roboto", sans-serif;
color: white;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
background-color: #4D5AE5;
cursor: pointer;
min-width: 169px;
height: 56px;
padding: 16px, 32px, 16px, 32px;
border-radius: 4px;
gap: 10px;
display: block;
border: none;
}
.button:hover, .button:focus{
    background-color: #404BBF;
}

.section-two{
padding-bottom: 120px;
padding-top: 120px;
}

.visually-hidden{
    overflow: hidden;
}

.header-sec-t-list{
    display: flex;
    gap: 24px;
}

.li-sec-t{
    /*width: 264px;*/
    width: calc((100% - 72px) / 4);
}

.nazva{
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: left;
color: #2E2F42;
margin-bottom: 8px;
}

.text{
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: left;
color: #434455;
}

.section-three{
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.card-list{
    display: flex;
    gap: 24px; 
}

.title-two{
font-size: 36px;
font-weight: 700;
line-height: 1.11;
text-transform: capitalize;
letter-spacing: 0.02em;
text-align: center;
color: #2E2F42;
margin-bottom: 72px;
}

.card{
background-color: #FFFFFF;
width: calc((100% - 72px) / 4);
border-radius: 0px 0px 4px 4px;
}

.name-prof{
    padding: 32px 0 32px;
}

.name{
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2E2F42;
margin-bottom: 8px;
}

.profession{
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}

/*.title3{
font-size: 36px;
font-weight: 700;
line-height: 1.11;
text-transform: capitalize;
letter-spacing: 0.02em;
text-align: center;
color: #2E2F42;
}*/

.section-four{
    padding-top: 120px;
    padding-bottom: 120px;
}

.card-portflio{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.card-two{
background-color: #FFFFFF;
width: calc((100% - 48px) / 3);
border-width: 1px, 1px, 1px, 1px;
border-style: solid;
border-color: #E7E9FC;
}

.name-app-two{
    padding: 32px 16px;
    border: 1px solid #e7e9fc; 
    border-top: none;
}

.name-app{
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: left;
color: #2E2F42;
margin-bottom: 8px;
}

.app{
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: left;
color: #434455;
}

footer{
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;

}
.footer-cont{
    width: 264px;
margin-left: 66px;
}
.logo-two{
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-bottom: 16px;
display: inline-block;
}
.span-two{
    color: #f4f4fd;
    text-transform: uppercase;   
}

.description{
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: left;
color: #F4F4FD;
}